<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Edukasi dan Perhitungan Zakat">
    <link rel="icon" href="logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=PT+Sans&family=PT+Sans+Narrow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>ZAKATKU</title>
</head>
<body>
    <header class="app-bar">
        <div class="app-bar__menu">
          <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
          <img src="logo samping.jpg" alt="logo-navbar-zakatku">
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
          <ul>
            <li><a href="#/beranda">BERANDA</a></li>
            <li><a href="#/zakat">ZAKAT</a></li>
            <li><a href="#/riwayat">RIWAYAT</a></li>
          </ul>
        </nav>
      </header>
      <main id="mainContent">

      </main>
      <footer>
        <p>Hak Cipta © 2021 Zakatku | All rights reserved</p>
    </footer>
    
    
</body>
</html>