main .fitur-description .jumbotron img {
    width: 100%;
    height: 300px;
}

main .fitur-description .feature{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
    text-align: center;
}

main .fitur-description .feature .feature-type {
    padding: 0 50px;
}

main .fitur-description .feature img{
    width: 45px;
    height: 45px;
}

main .fitur-description .feature h2{
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
    padding-top: 5px;
    color: #2E4C6D;
}

main .fitur-description .feature p{
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #396EB0;
}

main .application-description p{
    padding: 0 50px 25px 50px;
    text-align: center;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #396EB0;
}

main .content .first-content .description-firts-content{
    padding-right: 20px !important;
}

main .content .first-content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 50px 0;
    text-align: center;
    background-color: #EAEAEA;
    height: 250px;
}

main .content .first-content img {
    width: 250px;
    padding: 0 100px;
}

main .content .first-content h2 {
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
    color: #2E4C6D;
    padding-bottom: 10px;
}

main .content .first-content p {
    text-align: center;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #396EB0;
}

main .content .first-content .description-firts-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 100px;
}

main .content .second-content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 50px 0;
    text-align: center;
    height: 250px;
}

main .content .second-content .description-second-content{
    padding-left: 20px !important;
}

main .content .second-content img {
    width: 250px;
    padding: 20px 100px 0 100px;
}

main .content .second-content h2 {
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
    color: #2E4C6D;
    padding-bottom: 10px;
}

main .content .second-content p {
    text-align: center;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #396EB0;
}

main .content .second-content .description-second-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}

main .content .third-content {
    background-color: #ffffff;
    padding-bottom: 50px;
}

main .content .third-content .head-text h2{
    padding-top: 30px;
    font-size: 35px;
    font-family: 'PT Sans', sans-serif;
    color: #2E4C6D;
    padding-bottom: 10px;
    text-align: center;
}


main .content .third-content .artikel-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 50px;
}

main .content .third-content .artikel-container .artikel-content{
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    background-color: white;
}

main .content .third-content .artikel-container .artikel-content img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main .content .third-content .artikel-container .artikel-content h3{
    padding: 5px;
    text-align: center;
    font-size: 35px;
    font-family: 'PT Sans', sans-serif;
    color: #2E4C6D;
    font-size: 20px;
    text-transform: uppercase;
}

main .content .third-content .artikel-container .artikel-content p{
    padding: 0 20px 50px 20px;
    text-align: justify;
    font-size: 15px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #396EB0;
}

main .content .fourth-content .description-firts-content{
    padding-right: 20px !important;
}

main .content .fourth-content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 50px 0;
    text-align: center;
    background-color: #EAEAEA;
    height: fit-content;
}

main .content .fourth-content img {
    width: 250px;
    padding: 0 100px;
}

main .content .fourth-content h2 {
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
    color: #2E4C6D;
    padding-bottom: 10px;
}

main .content .fourth-content p {
    text-align: center;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #396EB0;
}

main .content .fourth-content .list-penerima-zakat {
    text-align: left;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #396EB0;
}

main .content .fourth-content .description-firts-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 100px;
}
