main .jenis-zakat h1 {
    padding: 20px;
    font-size: 35px;
    font-family: 'PT Sans', sans-serif;
    color: #2E4C6D;
    text-align: center;
}

main .jenis-zakat .navigation-zakat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin: 0 10px;
}

main .jenis-zakat .navigation-zakat .zakat {
    padding: 30px;
    border: 0.1px solid #2E4C6D;
    margin: 5px;
    border-radius: 20px;
}

main .jenis-zakat .navigation-zakat a {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: #2E4C6D;
}

main .jenis-zakat .navigation-zakat .zakat:hover {
    background-color: #EAEAEA;
    color: #396EB0;
    border: 0.1px solid #2E4C6D;
}