.kategori-zakat{
    width: 100%;
}

main .kategori-zakat h1 {
    font-size: 35px;
    font-family: 'PT Sans', sans-serif;
    color: #2E4C6D;
    text-align: center;
    padding: 20px 0 10px 0;
}

main .description-zakat p{
    padding: 0 50px 25px 50px;
    text-align: justify;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #396EB0;
}

main .description-zakat ul{
    padding: 0 50px 25px 50px;
    text-align: left;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #396EB0;
}

main .jenis-zakat .btn-kategori-zakat {
    justify-content: center;
    display: flex;
}

/* ============================================ */
main .feature-hitung {
    width: 100%;
    height: fit-content;
}

main .feature-hitung h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'PT Sans', sans-serif;
    color: #2E4C6D;
    text-align: center;
    padding: 20px 0 0 0;
}

main .feature-hitung .form .radio-input{
    margin-top: 20px;
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    color: #2E4C6D;
    text-align: left;
}

main .feature-hitung .form .radio-input .radio-input-first{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .feature-hitung .form .radio-input .radio-input-second{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .feature-hitung .form .radio-input .radio-input-third{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .feature-hitung .form .radio-input input{
    width: 20px;
    background-color: #2E4C6D;
    margin-right: 5px;
}

main .feature-hitung .form .radio-input label{
    width: 350px;
    max-width: 350px;
    margin-top: 5px;
}

main .feature-hitung .btn-hitung-zakat {
    justify-content: center;
    display: flex;
}

main .btn-hitung-zakat button{
    background-color: transparent;
    border: none;
    color: #2E4C6D;
    padding: 15px 70px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 3px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 8px;
    border: 2px solid #2E4C6D;
    transition: 0.5s;
}

main .btn-hitung-zakat button:hover{
    background-color: #2E4C6D;
    color: white;
}

main .feature-hitung .form {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    
}

main .feature-hitung .form .form-zakat{
    width: 50%;
}

main .feature-hitung form input {
    width: 100%;
    height: 30px;
    padding-top: 30px;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #2E4C6D;
    color: #396EB0;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: large;
    transition: 0.5s;
}

main .feature-hitung form input:hover {
    font-size: medium;
}

/* ==========HASIL=================== */

main .feature-hasil  {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    color: #396EB0;
    font-size: small;
    font-family: 'PT Sans Narrow', sans-serif;
}

main .feature-hasil .item-hasil  {
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border: 2px solid #2E4C6D;
    width: 50%;
    padding: 10px;
}

main .feature-hasil .item-hasil  h4, h2{
    padding: 5px 0;
}

main .feature-hasil .item-hasil  h4{
    text-align: right;
}

main .feature-hasil .item-hasil  h3{
    text-align: center;
    font-size: 20px;
    color: #2E4C6D;
    text-transform: uppercase;
}