main .fitur-description .jumbotron img {
    width: 100%;
    height: 300px;
}

main .fitur-description .feature{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
    text-align: center;
}

main .fitur-description .feature .feature-type {
    padding: 0 50px;
}

main .fitur-description .feature img{
    width: 45px;
    height: 45px;
}

main .fitur-description .feature h2{
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
    padding-top: 5px;
    color: #2E4C6D;
}

main .fitur-description .feature p{
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #396EB0;
}

main .application-description p{
    padding: 0 50px 25px 50px;
    text-align: center;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #396EB0;
}

main .content .first-content .description-firts-content{
    padding-right: 20px !important;
}

main .content .first-content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 50px 0;
    text-align: center;
    background-color: #EAEAEA;
    height: 250px;
}

main .content .first-content img {
    width: 250px;
    padding: 0 100px;
}

main .content .first-content h2 {
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
    color: #2E4C6D;
    padding-bottom: 10px;
}

main .content .first-content p {
    text-align: center;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #396EB0;
}

main .content .first-content .description-firts-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 100px;
}

main .content .second-content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 50px 0;
    text-align: center;
    height: 250px;
}

main .content .second-content .description-second-content{
    padding-left: 20px !important;
}

main .content .second-content img {
    width: 250px;
    padding: 20px 100px 0 100px;
}

main .content .second-content h2 {
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
    color: #2E4C6D;
    padding-bottom: 10px;
}

main .content .second-content p {
    text-align: center;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #396EB0;
}

main .content .second-content .description-second-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}

main .content .third-content {
    background-color: #ffffff;
    padding-bottom: 50px;
}

main .content .third-content .head-text h2{
    padding-top: 30px;
    font-size: 35px;
    font-family: 'PT Sans', sans-serif;
    color: #2E4C6D;
    padding-bottom: 10px;
    text-align: center;
}


main .content .third-content .description-third-content{
    padding-right: 20px !important;
}

main .content .third-content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 50px 0;
    text-align: center;
    background-color: #EAEAEA;
    height: 100%;
}

main .content .third-content img {
    width: 250px;
    padding: 0 100px;
}

main .content .third-content h2 {
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
    color: #2E4C6D;
    padding-bottom: 10px;
}

main .content .third-content p {
    text-align: center;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #396EB0;
    padding-bottom: 10px;
}

main .content .third-content .description-third-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 100px;
}

main .content .third-content .description-third-content ul {
    text-align: left;
    font-size: 15px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #396EB0;
}

main .content .third-content .description-third-content ul li{
    padding-bottom: 3px;
}

main .content .fourth-content .head-text h2 {
    text-align: center;
    padding: 20px;
    font-size: 35px;
    font-family: 'PT Sans', sans-serif;
    color: #2E4C6D;
}

main .content .fourth-content .artikel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
    margin-bottom: 50px;
}

main .content .fourth-content .artikel .artikel-item .artikel-body{
    margin: 2%;
    width: 95%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 9px;
}

main .content .fourth-content .artikel .artikel-item img{
    width: 100%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

main .content .fourth-content .artikel .artikel-item .article-item_header {
    margin-bottom: 20px;
}

main .content .fourth-content .artikel .artikel-item .article-item_header h3{
    text-align: center;
    padding: 5px 15px;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    color: #2E4C6D;
}

main .content .fourth-content .artikel .artikel-item p{
    text-align: justify;
    padding: 5px 15px;;
    font-size: 13px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #396EB0;
}

main .content .fourth-content .artikel .artikel-item p span{
    color: #2E4C6D;
    font-weight: bold;
}